elasticsearch==7.17.8
farm-haystack==1.12.2
kaggle==1.5.12
nltk==3.8.1
numpy==1.24.1
pandas==1.5.2
rouge==1.0.1
seaborn==0.12.2
transformers==4.25.1
sentence-transformers==2.2.2
spacy==3.4.4
spacy-transformers==1.1.9
flair
tensorflow==2.11.0
ipykernel==6.19.4